@model IEnumerable<DDAC_TP033375.Models.Customer>

@{
	ViewBag.Title = "Index";
}

@if (ViewBag.Message != null)
{
	<div class="alert alert-dismissible alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Warning!</h4>
		@ViewBag.Message
	</div>
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create Customer", "New", "Customers", new { }, new { @class = "btn btn-success" })
</p>
<table id="customers" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				IC / Passport Number
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>
				Registered By Agent
			</th>
			<th>
				Registered By Company
			</th>
			<th></th>
		</tr>
	</thead>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdentificationNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PhoneNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RegisteredBy.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RegisteredBy.CompanyName)
			</td>
			<td>
				@Html.ActionLink("Book", "New", "Bookings", new { id = item.Id }, new { @class = "label label-success" })
				@Html.ActionLink("Details", "Details", "Customers", new { id = item.Id }, new { @class = "label label-primary", data_toggle = "modal", data_target = "#customerDetailsModal" })
				@Html.ActionLink("Edit", "Edit", "Customers", new { id = item.Id }, new { @class = "label label-warning" })
				<a href="" class="label label-danger js-delete" data-id="@item.Id" data-info="@item.Name">Delete</a>
			</td>
		</tr>
	}

</table>

<!-- Modal -->
<div class="modal fade" id="customerDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>

@section scripts
{
	<script>
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": true,
			"progressBar": true,
			"positionClass": "toast-top-right",
			"preventDuplicates": true,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "10000",
			"extendedTimeOut": "10000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		}

		$(document).on('hidden.bs.modal', function (e) {
			$(e.target).removeData('bs.modal');
		});

		$(document).ready(function () {
			$("#customers").on("click", ".js-delete", function (e) {
				e.preventDefault();

				var button = $(this);
				var info = button.attr("data-info");

				bootbox.confirm("Are you sure you want to delete this customer, <strong>" + info + "</strong>?",
					function (result) {
						if (result) {
							$.ajax({
								type: "POST",
								url: '@Url.Action("Delete", "Customers")',
								data: JSON.stringify({ id: button.attr("data-id") }),
								dataType: "json",
								contentType: "application/json; charset=utf-8",
								success: function (response) {
									if (response != null && response.success) {
										button.parents("tr").remove();
										//table.row(button.parents("tr")).remove().draw();
										toastr.success(response.responseText);
									} else {
										toastr.error(response.responseText);
									}
								},
								error: function (response) {
									toastr.error("ERROR!");
								}
							});
						}
					});
			});
		});
	</script>
}