@model IEnumerable<DDAC_TP033375.Models.ApplicationUser>

@{
	ViewBag.Title = "Index";
}

@if (ViewBag.Message != null)
{
	<div class="alert alert-dismissible alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Warning!</h4>
		@Html.Raw(ViewBag.Message)
	</div>
}

<h2>Agents</h2>

<p>
	@Html.ActionLink("Register Agent", "Register", "Account", new { }, new { @class = "btn btn-success" })
</p>
<table id="agents" class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CompanyName)
			</th>
			<th></th>
		</tr>
	</thead>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PhoneNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CompanyName)
			</td>
			<td>
				@if (item.IsEnabled)
				{
					<a href="" class="label label-danger js-disable" data-id="@item.Id" data-info="@item.Name from @item.CompanyName">Disable</a>
				}
				else
				{
					<a href="" class="label label-warning js-enable" data-id="@item.Id" data-info="@item.Name from @item.CompanyName">Enable</a>
				}
			</td>
		</tr>
	}

</table>

@section scripts
{
	<script>
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": true,
			"progressBar": true,
			"positionClass": "toast-top-right",
			"preventDuplicates": true,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "10000",
			"extendedTimeOut": "10000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		}

		$(document).ready(function () {
			var table = $('#agents').DataTable();

			$("#agents").on("click", ".js-disable", function (e) {
				e.preventDefault();

				var button = $(this);
				var info = button.attr("data-info");

				bootbox.confirm("Are you sure you want to disable this agent,<br/><strong>" + info + "</strong>?",
					function (result) {
						if (result) {
							$.ajax({
								type: "POST",
								url: '@Url.Action("Disable")',
								data: JSON.stringify({ id: button.attr("data-id") }),
								dataType: "json",
								contentType: "application/json; charset=utf-8",
								success: function (response) {
									if (response != null && response.success) {
										//button.parents("tr").remove();
										//table.row(button.parents("tr")).remove().draw();

										//table.buttons(button.text('Enable')).draw();
										//table.buttons(button.removeClass('label-danger')).draw();
										//table.buttons(button.addClass('label-warning')).draw();
										//table.buttons(button.removeClass('js-disable')).draw();
										//table.buttons(button.addClass('js-enable')).draw();

										//table.row(button.text('Enable')).draw();
										//table.row(button.removeClass('label-danger')).draw();
										//table.row(button.addClass('label-warning')).draw();
										//table.row(button.removeClass('js-disable')).draw();
										//table.row(button.addClass('js-enable')).draw();

										button.text('Enable');
										button.removeClass('label-danger');
										button.addClass('label-warning');
										button.removeClass('js-disable');
										button.addClass('js-enable');

										//table.ajax.reload();

										toastr.success(response.responseText);
									} else {
										toastr.error(response.responseText);
									}
								},
								error: function (response) {
									toastr.error("ERROR!");
								}
							});
						}
					});
			});

			$("#agents").on("click", ".js-enable", function (e) {
				e.preventDefault();

				var button = $(this);
				var info = button.attr("data-info");

				bootbox.confirm("Are you sure you want to enable this agent,<br/><strong>" + info + "</strong>?",
					function (result) {
						if (result) {
							$.ajax({
								type: "POST",
								url: '@Url.Action("Enable")',
								data: JSON.stringify({ id: button.attr("data-id") }),
								dataType: "json",
								contentType: "application/json; charset=utf-8",
								success: function (response) {
									if (response != null && response.success) {
										//button.parents("tr").remove();
										//table.row(button.parents("tr")).remove().draw();

										button.text('Disable');
										button.removeClass('label-warning');
										button.addClass('label-danger');
										button.removeClass('js-enable');
										button.addClass('js-disable');

										toastr.success(response.responseText);
									} else {
										toastr.error(response.responseText);
									}
								},
								error: function (response) {
									toastr.error("ERROR!");
								}
							});
						}
					});
			});
		});
	</script>
}