@model DDAC_TP033375.Models.Schedule

@{
	ViewBag.Title = ViewBag.Title;
	var columnWidth = ViewBag.Action.Equals("Update") ? "col-md-6" : "col-md-12";
}

@if (ViewBag.IsSuccess != null)
{
	if (ViewBag.IsSuccess)
	{
		<div class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@ViewBag.Message @Html.ActionLink("Go to Schedule Index", "Index", new { }, new { @class = "alert-link" })
		</div>
	}
	else
	{
		<div class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@ViewBag.Message
		</div>
	}
}

<h2>@ViewBag.Title</h2>

<div class="row">
	@if (ViewBag.Action.Equals("Update"))
	{
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Schedule</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-5" style="text-align: right"><strong>@Html.DisplayNameFor(s => s.Origin)</strong></div>
						<div class="col-xs-7">@Html.DisplayFor(s => s.Origin)</div>
					</div>
					<div class="row">
						<div class="col-xs-5" style="text-align: right"><strong>@Html.DisplayNameFor(s => s.Destination)</strong></div>
						<div class="col-xs-7">@Html.DisplayFor(s => s.Destination)</div>
					</div>
					<div class="row">
						<div class="col-xs-5" style="text-align: right"><strong>@Html.DisplayNameFor(s => s.DepartureTime)</strong></div>
						<div class="col-xs-7">@Html.DisplayFor(s => s.DepartureTime)</div>
					</div>
					<div class="row">
						<div class="col-xs-5" style="text-align: right"><strong>@Html.DisplayNameFor(s => s.ArrivalTime)</strong></div>
						<div class="col-xs-7">@Html.DisplayFor(s => s.ArrivalTime)</div>
					</div>
				</div>
			</div>
		</div>
	}
	<div class="@columnWidth">
		@using (Html.BeginForm((string)@ViewBag.Action, "Schedules", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			<div class="well">
				@Html.HiddenFor(s => s.Id)
				@Html.AntiForgeryToken()
				@Html.ValidationSummary("", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(s => s.Origin, new { @class = "col-md-5 control-label" })
					<div class="col-md-7">
						@Html.TextBoxFor(s => s.Origin, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(s => s.Destination, new { @class = "col-md-5 control-label" })
					<div class="col-md-7">
						@Html.TextBoxFor(s => s.Destination, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(s => s.DepartureTime, new { @class = "col-md-5 control-label" })
					<div class="col-md-7">
						@Html.TextBoxFor(s => s.DepartureTime, new { id = "departureTimePicker", @class = "form-control" })
						@*@Html.TextBoxFor(s => s.DepartureTime, "{MM/dd/yyyy h:mm tt}", new { id = "departureTimePicker", @class = "form-control" })*@
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(s => s.ArrivalTime, new { @class = "col-md-5 control-label" })
					<div class="col-md-7">
						@Html.TextBoxFor(s => s.ArrivalTime, new { id = "arrivalTimePicker", @class = "form-control" })
						@*@Html.TextBoxFor(s => s.ArrivalTime, "{MM/dd/yyyy h:mm tt}", new { id = "arrivalTimePicker", @class = "form-control" })*@
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-5" style="text-align: right">
						@Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-default" })
					</div>
					<div class="col-md-7">
						<input type="submit" class="btn btn-success" value="@ViewBag.Action" />
					</div>
				</div>
			</div>
		}
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(function () {
			$("#departureTimePicker").datetimepicker({
				minDate: new Date()
				//format: "DD/MM/YYYY h:mm A"
			});
			$('#arrivalTimePicker').datetimepicker({
				useCurrent: false //Important! See issue #1075
				//format: "DD/MM/YYYY h:mm A"
			});
			$("#departureTimePicker").on("dp.change",
				function (e) {
					$('#arrivalTimePicker').data("DateTimePicker").minDate(e.date);
				});
			$("#arrivalTimePicker").on("dp.change",
				function (e) {
					$('#departureTimePicker').data("DateTimePicker").maxDate(e.date);
				});
		});
	</script>
}
